body{
    background-color: rgb(153, 99, 108) ;
    background-image: url(../Images/pig_page.png);
    background-repeat: no-repeat;
    height: 100%;
    background-position-x: center;
    background-position-y: 65px;
    background-size: 43%;
}
div img {
    max-width: 100%;
    max-height: 100%;
   }
.w_pig{
    height: 300px;
    width: 300px;
    display: inline-block;
    margin-top: 400px;
    margin-left: 100px;
    opacity: 0.9;
}
