body{
    background-image: url("../Images/scary-oke.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.songs{
    position: absolute;
    margin-top: 120px;
    margin-left: 200px;
    font-size: larger;
    color: rgb(255, 68, 0);
}
.songs li a{
    color: rgb(255, 68, 0);
    text-decoration: none;
}
.songs :hover{
    color:  #b25744;
    transition: 0.4s;
    text-shadow: 1px 1px rgb(64, 85, 64);
    text-decoration: none;
}
